<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">Admin Module</div>
            <ul>
                <li><a routerLink="admin/login">Admin Login</a></li>
                <li><a routerLink="admin/list">Admin lists</a></li>
            </ul>
        </div>
        <div class="col-6">
            <div class="card">User Module</div>
            <ul>
                <li><a routerLink="user/login">User Login</a></li>
                <li><a routerLink="user/list">User lists</a></li>
            </ul>
        </div>
    </div>
</div>