<nav class="navbar navbar-expand-lg sticky-top ps-5">
    <a class="navbar-brand text-white" href="#">Routing</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link text-white" data-toggle="tab" routerLink="/home">Route</a>
                <!--Using Router link insted of "href" to olny load that specified route component link not the whole DOM. -->
            </li>
            <li>
                <button class="nav-link text-white" data-toggle="tab" (click)="navigate()">RouteParams</button>
            </li>
            <li>
                <a class="nav-link text-white" data-toggle="tab" routerLink="/products">QueryParams</a>
            </li>
            <li>
                <a class="nav-link text-white" data-toggle="tab" routerLink="/httpreq" data-toggle="tooltip" title="Fetching the data from server using http requests">Http</a>
            </li>
            <li>
                <a class="nav-link text-white" data-toggle="tab" routerLink="/about">Child/NestedRoutes</a>
            </li>
            <li>
                <a class="nav-link text-white" data-toggle="tab" routerLink="/courses">Courses</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>