
<ul class="list-inline border text-center">
    <p>Using Actiavted Route for the Files Which are in Services</p>
    <button class="btn btn-default mx-3" routerLink="../../"> <--Back</button>  <!--routerLink="/contact"-->
    <li class="list-inline-item">Id:{{service.id}}</li>
    <li class="list-inline-item">Name:{{service.name}}</li>
    <li class="list-inline-item">Gender:{{service.gender}}</li>
    <li class="list-inline-item">Age:{{service.age}}</li>
    <li class="list-inline-item">From:{{service.series}}</li>
</ul>